In [1]:
import re
import os
import string

from nltk.tokenize import sent_tokenize, word_tokenize
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
from math import log

import pandas as pd
import numpy as np

dictionary = {}

docIdMap = {}
wordbank = []
base = []
child = []
namaDokumen = ""

In [2]:
def proses_pertama(path):
    docId = 1
    """
            Membuat pengulangan sesuai jumlah data txt pada suatu folder
    """
    fileList = [f for f in os.listdir(path) if os.path.isfile(os.path.join(path, f))]
    print(fileList)
    fileobj = open('frekuensi.txt', 'w')
    for eachFile in fileList:
        position = 1
        count = 0
        """
        Di variable bawah ini nanti akan dimasukkan id File dan nama File txtnya
        """
        docIdMap[docId] = eachFile
        """
        DI variable bawah ini kita akan mendapatkan kalimat dari tiap barisnya
        """
        lines = [line.rstrip('\n') for line in open(path + "/" + eachFile)]
#         print(lines)        
#         print("================buat pengulangan")
        for eachLine in lines:
            """
            case folding
            """
            eachLine = eachLine.lower()
            eachLine = re.sub(r"\d+", "", eachLine)
            eachLine = eachLine.translate(str.maketrans("","",string.punctuation))
            #hapus simbol
            eachLine = re.sub('((www\.[^\s]+)|(https?://[^\s]+))',' ',eachLine)
            eachLine = re.sub('rt @[^\s]+',' ', eachLine)
            eachLine = re.sub('@[^\s]+',' ',eachLine)
            eachLine = re.sub(r'[^\x00-\x7F]+',' ', eachLine)
            #Remove additional white spaces
            eachLine = re.sub('[\s]+', ' ', eachLine)
            eachLine = re.sub(r'#([^\s]+)', r'\1', eachLine)
            eachLine = eachLine.strip()
            """
            stop words
            """
            stop_words = set(stopwords.words('english')) 
  
            word_tokens = word_tokenize(eachLine) 
            filtered_sentence = [w for w in word_tokens if not w in stop_words]
#             print("==========================================STEMMING")
            """
            Stemming
            """
            ps = PorterStemmer()
            for k in filtered_sentence:
                wordbank.append(ps.stem(k))
#             for word in filtered_sentence:
                word = ps.stem(k)
                """
                    memasukkan ke dict,
                    nantinya biar dihitung frekeunsi tiap corpus
                """
                if (word.lower() in dictionary):
                    postingList = dictionary[word.lower()]
                    if (docId in postingList):
                        postingList[docId].append(position)
                        position = position + 1
                    else:
                        postingList[docId] = [position]
                        position = position + 1
                else:
                    dictionary[word.lower()] = {docId: [position]}
                    position = position + 1
#             print("==========================================END")
                    
        docId = docId + 1
            
    length_dict = {key: len(value) for key, value in dictionary.items()}
    """
        PROSES MENGHITUNG FREKUENSI TIAP FILE CORPUS
        dimasukkan ke dalam array child
    """
    for key in dictionary:
#         print(key)
        child.append(key)
#         for s, value in dictionary[key].items():
        jumlah = 0
        for sw in docIdMap:
            pass
            
            for s, value in dictionary[key].items():
                if (str(s) in str(sw)):
#                     print("pada dok "+str(sw) +" "+str(len(dictionary[key][s])))
                    child.append(len(dictionary[key][s]))
                    jumlah += 1
                    break
            else:
#                 print("pada dok gagal "+str(sw) +" 0")
                child.append(0)
        child.append(jumlah)
        child.append(log(len(docIdMap) / (jumlah), 10))
        base.append(child)

    """
    Buat file semua term pada semua corpus !
    """
    for w in length_dict:
        # ini nanti dibuat menangkap jumlah kata di suatu file txt
        fileobj.write(w +"   |   "+str(length_dict[w]))
        fileobj.write("\n")
    fileobj.close()
    print("================================================")
#     print(child)

In [3]:
def bersihkan_inputan(eachLine):
    """
    case folding
    """
    term = []
    eachLine = eachLine.lower()
    eachLine = re.sub(r"\d+", "", eachLine)
    eachLine = eachLine.translate(str.maketrans("","",string.punctuation))
    #hapus simbol
    eachLine = re.sub('((www\.[^\s]+)|(https?://[^\s]+))',' ',eachLine)
    eachLine = re.sub('rt @[^\s]+',' ', eachLine)
    eachLine = re.sub('@[^\s]+',' ',eachLine)
    eachLine = re.sub(r'[^\x00-\x7F]+',' ', eachLine)
    #Remove additional white spaces
    eachLine = re.sub('[\s]+', ' ', eachLine)
    eachLine = re.sub(r'#([^\s]+)', r'\1', eachLine)
    eachLine = eachLine.strip()
    """
    stop words
    """
    stop_words = set(stopwords.words('english')) 
  
    word_tokens = word_tokenize(eachLine) 
    filtered_sentence = [w for w in word_tokens if not w in stop_words]
#   print("==========================================STEMMING")
    """
    Stemming
    """
    ps = PorterStemmer()
    for k in filtered_sentence:
        term.append(ps.stem(k))
    
    return term

In [4]:
def main():
    AlamatDir = "test/banyak"
    queryFile = "query"
    proses_pertama(AlamatDir)

In [5]:
if __name__ == '__main__':
    main()

['entertainment-documents.txt', 'politics-documents.txt', 'business-documents.txt']
================================================

In [6]:
data = [child[i:i+6] for i in range(0, len(child),6)]
kategori = ['business','entertainment','politics']
kolom = []
p = []
kolom.append('term')

for x in docIdMap:
    p.append(str(kategori[x-1]))
    kolom.append(str(kategori[x-1]))
kolom.append('df')
kolom.append('idf')
print(docIdMap)
# Create the pandas DataFrame 
df = pd.DataFrame(data, columns = kolom) 
export = df.sort_values(p, ascending=False)
export
# print dataframe. 
# print(pd.concat([pd.DataFrame({})] + [df], axis=1))

{1: 'entertainment-documents.txt', 2: 'politics-documents.txt', 3: 'business-documents.txt'}

          term  business  entertainment  politics  df       idf
70        film       964              9        12   3  0.000000
107       said       825           2241      1680   3  0.000000
321       year       604            414       894   3  0.000000
399       best       590             47        52   3  0.000000
316      music       538              3        14   3  0.000000
...        ...       ...            ...       ...  ..       ...
15562   unclog         0              0         1   1  0.477121
15563   impass         0              0         1   1  0.477121
15564  hardwar         0              0         1   1  0.477121
15565    parul         0              0         1   1  0.477121
15566    rourk         0              0         1   1  0.477121

[15567 rows x 6 columns]

Perhitungan TD.IDF

In [7]:
tmpdata = data
num = 0
idx =0
for c in tmpdata:
    cntkategori = 0
#     print(c)
    for s in kategori:
#         print(c[cntkategori+1]*c[num+5])
#         print(kategori[cntkategori])
        tmpdata[idx].append(c[cntkategori+1]*c[num+5])
        cntkategori+=1
    idx+=1

In [8]:
# data2 = [data[i:i+9] for i in range(0, len(data),9)]
tfkategori = ['TFIDF_business','TFIDF_entertainment','TFIDF_politics']
kolom = []
p = []
kolom.append('term')

for x in docIdMap:
    p.append(str(kategori[x-1]))
    kolom.append(str(kategori[x-1]))
kolom.append('df')
kolom.append('idf')
nm = 0
for x in tfkategori:
    kolom.append(str(tfkategori[nm]))
    nm+=1
# print(kolom)
# Create the pandas DataFrame 
df = pd.DataFrame(tmpdata, columns = kolom) 
export = df.sort_values(p, ascending=False)
export
# print dataframe. 
# print(pd.concat([pd.DataFrame({})] + [df], axis=1))

,term,business,entertainment,politics,df,idf,TFIDF_business,TFIDF_entertainment,TFIDF_politics
70,film,964,9,12,3,0.000000,0.0,0.0,0.000000
107,said,825,2241,1680,3,0.000000,0.0,0.0,0.000000
321,year,604,414,894,3,0.000000,0.0,0.0,0.000000
399,best,590,47,52,3,0.000000,0.0,0.0,0.000000
316,music,538,3,14,3,0.000000,0.0,0.0,0.000000
...,...,...,...,...,...,...,...,...,...
15562,unclog,0,0,1,1,0.477121,0.0,0.0,0.477121
15563,impass,0,0,1,1,0.477121,0.0,0.0,0.477121
15564,hardwar,0,0,1,1,0.477121,0.0,0.0,0.477121
15565,parul,0,0,1,1,0.477121,0.0,0.0,0.477121
15566,rourk,0,0,1,1,0.477121,0.0,0.0,0.477121

In [9]:
df

,term,business,entertainment,politics,df,idf,TFIDF_business,TFIDF_entertainment,TFIDF_politics
0,ocean,14,3,5,3,0.000000,0.0,0.0,0.000000
1,twelv,9,2,1,3,0.000000,0.0,0.0,0.000000
2,raid,3,3,2,3,0.000000,0.0,0.0,0.000000
3,box,113,9,1,3,0.000000,0.0,0.0,0.000000
4,offic,119,193,105,3,0.000000,0.0,0.0,0.000000
...,...,...,...,...,...,...,...,...,...
15562,unclog,0,0,1,1,0.477121,0.0,0.0,0.477121
15563,impass,0,0,1,1,0.477121,0.0,0.0,0.477121
15564,hardwar,0,0,1,1,0.477121,0.0,0.0,0.477121
15565,parul,0,0,1,1,0.477121,0.0,0.0,0.477121
15566,rourk,0,0,1,1,0.477121,0.0,0.0,0.477121

VSM

In [64]:
def listToString(s):  
    
    # initialize an empty string 
    str1 = " " 
    
    # return string   
    return (str1.join(s))

In [81]:
from collections import OrderedDict
# query = "Labour said the rise was an insult to millions of workers whose pay is being frozen due to the Covid crisis. Separately, it has emerged that Boris Johnson ignored the advice of the chief of the civil service in relation to a legal case brought by a special adviser sacked by Mr Cummings"
queryFile = "query"
QueryLines = [line.rstrip('\n') for line in open(queryFile)]
query = listToString(QueryLines)
query_vocab = bersihkan_inputan(query)
query_wc = {}
new_query = []
for word in query_vocab:
    for kata in wordbank:
        if word == kata:
            new_query.append(word)
            break
    query_wc[word] = query.lower().split().count(word)
            
# print(query_vocab)
relevance_scores = {}
for doc_id in kategori:
    score = 0
#     print(doc_id)
    for wordd in new_query:
#         pass
#         print(query_wc[wordd])
        score += query_wc[wordd]*float(df[df['term'] == wordd]["TFIDF_"+doc_id])
#         print(query_wc[wordd])
    relevance_scores[doc_id] = score
sorted_value = OrderedDict(sorted(relevance_scores.items(), key=lambda x: x[1], reverse = True))
sorted_value
# relevance_scores

OrderedDict([('entertainment', 18.3352177691367),
             ('business', 2.465277626779537),
             ('politics', 1.6586075456620497)])

In [83]:
queryFile = "query"
QueryLines = [line.rstrip('\n') for line in open(queryFile)]
# print(QueryLines)

Jika kita ingin mencari term/kata

In [82]:
df[df['term'].str.contains("book")]

,term,business,entertainment,politics,df,idf,TFIDF_business,TFIDF_entertainment,TFIDF_politics
1406,book,118,67,27,3,0.000000,0.000000,0.000000,0.000000
2133,songbook,3,0,0,1,0.477121,1.431364,0.000000,0.000000
2336,bookmak,25,1,0,2,0.176091,4.402281,0.176091,0.000000
2754,booker,7,1,0,2,0.176091,1.232639,0.176091,0.000000
3110,scrapbook,1,0,0,1,0.477121,0.477121,0.000000,0.000000
4306,bookshop,1,0,0,1,0.477121,0.477121,0.000000,0.000000
7314,booksel,1,0,0,1,0.477121,0.477121,0.000000,0.000000
7508,bookershortlist,1,0,0,1,0.477121,0.477121,0.000000,0.000000
8061,sketchbook,1,0,0,1,0.477121,0.477121,0.000000,0.000000
8110,booki,1,0,0,1,0.477121,0.477121,0.000000,0.000000
11303,handbook,0,1,0,1,0.477121,0.000000,0.477121,0.000000
13537,bookrunn,0,0,1,1,0.477121,0.000000,0.000000,0.477121
14151,bookkeep,0,0,1,1,0.477121,0.000000,0.000000,0.477121
14518,overbook,0,0,4,1,0.477121,0.000000,0.000000,1.908485

Jika ingin export ke csv file

In [9]:
export.to_csv (r'hasil-baru.csv', index = False, header=True)

In [9]:
from prettytable import PrettyTable
x = PrettyTable()
x.field_names = kolom

for z in data:
    x.add_row(z)

# print(x)
# print(x.get_string(sortby="Term / kata", reversesort = False))

In [6]:
df

     Term / kata  business  entertainment  politics
0       worldcom         8              0         0
1           boss         4              0         0
2           left         1              0         0
3           book         2              0         1
4           alon         1              0         0
...          ...       ...            ...       ...
1193        hors         0              0         1
1194        ride         0              0         1
1195       accid         0              0         1
1196      remark         0              0         1
1197    committe         0              0         1

[1198 rows x 4 columns]